.module_list_b {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.module_list_p {
  margin: 0;
}
.module_list_div2 {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  line-height: 140%;
}
.module_list_parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.module_list_icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 8px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.module_list_wrapper {
  width: 60px;
  border-radius: 8px;
  background-color: #f8f8f8;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px;
  box-sizing: border-box;
}
.module_list_frame-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.module_list_div4 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-size: 24px;
  font-weight: 600;
}
.module_list_div5 {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 140%;
}
.module_list_frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.module_list_div3 {
  flex: 0 0 calc(100% / 6 - 30px); /* 너비를 6등분 */
  max-width: calc(100% / 6);
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}
.module_list_frame-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  min-width: 1100px;
}
.module_list_icon11 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 8px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.module_list_child {
  position: absolute;
  height: 26.54%;
  width: 72.5%;
  top: 13.78%;
  right: 13.72%;
  bottom: 59.68%;
  left: 13.78%;
  border: 3px solid #000;
  box-sizing: border-box;
}
.module_list_item {
  position: absolute;
  height: 51.54%;
  width: 64.04%;
  top: 34.62%;
  right: 18.01%;
  bottom: 13.85%;
  left: 17.95%;
  border: 3px solid #000;
  box-sizing: border-box;
}
.module_list_inner {
  position: absolute;
  height: 5.77%;
  width: 16.73%;
  top: 58.33%;
  right: 41.6%;
  bottom: 35.9%;
  left: 41.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.module_list_div31 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 8px;
  background-color: #f8f8f8;
  overflow: hidden;
}
.module_list_group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.module_list_div1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.module_list_div {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 100px 60px;
  box-sizing: border-box;
  min-width: 1100px;
}
.module_list_desktop {
  width: 100%;
  position: relative;
  background-color: #f3ffe3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 1100px;
  max-width: 1500px;
  text-align: left;
  font-size: 44px;
  color: #111;
  font-family: Pretendard;
}
