.div1 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.union-icon {
  position: relative;
  width: 56.6px;
  height: 36px;
  mix-blend-mode: normal;
}
.icon {
  position: absolute;
  height: 85.83%;
  width: 56.27%;
  top: 14.29%;
  right: -0.01%;
  bottom: -0.12%;
  left: 43.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div4 {
  width: 161px;
  position: relative;
  height: 36px;
}
.div5 {
  align-self: stretch;
  width: 12px;
  position: relative;
}
.div6 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  color: #999;
}
.b {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
}
.div8 {
  align-self: stretch;
  border-bottom: 4px solid #9747ff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
}
.div10 {
  border-radius: 4px;
  border: 1px solid #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
}
.div12 {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  color: #000;
}
.parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.div3 {
  align-self: stretch;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.div2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 60px;
  box-sizing: border-box;
  min-width: 1100px;
}
.desktop {
  background-color: #000;
  border-bottom: 1px solid #1c1c21;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 1100px;
  font-size: 20px;
  color: #fff;
}
.div18 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0px;
}
.div20 {
  align-self: stretch;
  border-bottom: 4px solid #9747ff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0px;
  color: #fff;
}
.wrapper {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.div17 {
  align-self: stretch;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.div16 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 60px;
}
.desktop1 {
  background-color: #000;
  border-bottom: 1px solid #1c1c21;
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 20px;
  color: #999;
}
.p {
  margin: 0;
}
.b2 {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.plus {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
}
.div27 {
  align-self: stretch;
  position: relative;
  font-size: 15px;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
}
.plus-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 28px;
}
.krw-1000cradit {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.6px;
  line-height: 140%;
  font-weight: 600;
}
.cradit-container {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 20.3px;
  display: flex;
  align-items: center;
  height: 41px;
  flex-shrink: 0;
}
.div28 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
}
.link {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-decoration: none;
  justify-content: center;
  padding: 12px;
  text-align: center;
  font-size: 20px;
}
.ul {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 19px;
}
.div29 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
}
.group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.div32 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
}
.frame-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  gap: 20px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}
.span {
  font-size: 16px;
}
.link1 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-decoration: none;
  padding: 12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.b3 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 120%;
}
.instance-parent {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Ensures all child elements stretch to the tallest element */
  justify-content: flex-start;
  gap: 30px;
  width: 100%; /* Adjust width as needed */
}
.div26 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 40px;
  font-size: 14px;
  color: #000;
}
.div25 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.div24 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 100px 30px;
  box-sizing: border-box;
  min-width: 1100px;
  max-width: 1500px;
}
.desktop2 {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 1100px;
  width: 100%;
}
.b6 {
  position: relative;
  line-height: 130%;
}
.free-parent {
  flex: 0.942;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
  gap: 8px;
}
.parent13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 32px;
  color: #000;
}
.div92 {
  flex: 1;
  position: relative;
  letter-spacing: 0.04px;
  line-height: 22px;
  font-weight: 600;
}
.frame {
  width: 335px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  box-sizing: border-box;
}
.div91 {
  align-self: stretch;
  border-bottom: 1px solid #111;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0px;
  color: #767676;
}
.wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
}
.svg-icon {
  width: 18px;
  position: relative;
  height: 18px;
}
.svg-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 8px;
}
.div93 {
  align-self: stretch;
  border-bottom: 1px solid #e5e5ec;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0px;
}
.wrapper2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  color: #111;
}
.div97 {
  flex: 1;
  position: relative;
  letter-spacing: 0.04px;
  line-height: 22px;
}
.div95 {
  align-self: stretch;
  border-bottom: 1px solid #e5e5ec;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0px;
  color: #333;
}
.div107 {
  align-self: stretch;
  height: 46px;
}
.child {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 8px;
}
.wrapper19 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 8px;
  color: #333;
}
.frame-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 15px;
}
.faq {
  flex: 1;
  position: relative;
  line-height: 140%;
  display: inline-block;
  min-width: 249px;
}
.div193 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01px;
  line-height: 23px;
  font-weight: 600;
}
.svg-icon74 {
  width: 14px;
  position: relative;
  height: 14px;
}
.container2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1 {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
  box-sizing: border-box;
}
.div192 {
  align-self: stretch;
  border-top: 1px solid #111;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px 0px;
  gap: 10px;
}
.faq2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.faq-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div199 {
  word-break: keep-all; /* 어절 단위로 줄바꿈 */
  white-space: normal; /* 텍스트가 여러 줄로 개행될 수 있도록 설정 */
  flex: 1;
  position: relative;
  letter-spacing: -0.01px;
  line-height: 140%;
}
.div198 {
  align-self: stretch;
  border-bottom: 1px solid #111;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 20px;
  color: #333;
}
.faq-parent {
  flex: 1;
  border-bottom: 1px solid #111;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 249px;
  font-size: 20px;
}
.div191 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 40px;
}
.div190 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 100px 60px;
  box-sizing: border-box;
  min-width: 1100px;
  max-width: 1500px;
}
.desktop4 {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 1100px;
  width: 100%;
}
.union-icon1 {
  position: relative;
  width: 95.6px;
  height: 60px;
  mix-blend-mode: normal;
}
.icon1 {
  position: absolute;
  height: 85.67%;
  width: 56.25%;
  top: 14.29%;
  right: 0.01%;
  bottom: 0.05%;
  left: 43.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div206 {
  width: 272px;
  position: relative;
  height: 60px;
}
.div205 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.union-icon2 {
  position: relative;
  width: 45.7px;
  height: 29px;
  mix-blend-mode: normal;
}
.icon2 {
  position: absolute;
  height: 85.86%;
  width: 56.23%;
  top: 14.29%;
  right: 0.03%;
  bottom: -0.15%;
  left: 43.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div207 {
  width: 130px;
  position: relative;
  height: 29px;
  display: none;
}
.div208 {
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.link8 {
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 60px;
  font-size: 20px;
  color: #000;
}
.parent14 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.desktop5 {
  background-color: #000;
  color: #fff;
  width: 100%; /* 화면의 너비를 가득 채우도록 수정 */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.div {
  width: 100%; /* 부모 요소가 화면의 너비를 가득 채우도록 수정 */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 44px;
  color: #111;
  font-family: Pretendard;
}
