.p {
  margin: 0;
}
.b {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.plus {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
}
.div3 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
}
.plus-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 32px;
}
.krw-1000cradit {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 140%;
  font-weight: 600;
}
.cradit-container {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 20.3px;
  display: flex;
  align-items: center;
  height: 41px;
  flex-shrink: 0;
}
.div4 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
}
.link {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #000;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 60px;
  text-align: center;
  font-size: 20px;
}
.ul {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 19px;
}
.div5 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
}
.parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.div8 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
}
.frame-parent {
  flex: 1;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 720px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  gap: 20px;
}
.span {
  font-size: 16px;
}
.link1 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 60px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.b1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 120%;
}
.instance-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.div2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 40px;
  font-size: 14px;
  color: #000;
}
.div1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.div {
  flex: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 100px 60px;
  box-sizing: border-box;
  min-width: 1100px;
  text-align: left;
  font-size: 44px;
  color: #111;
  font-family: Pretendard;
}

