.ssobig_join_union-icon {
  position: relative;
  width: 95.6px;
  height: 60px;
  mix-blend-mode: normal;
}
.ssobig_join_icon {
  position: absolute;
  height: 85.67%;
  width: 56.25%;
  top: 14.29%;
  right: 0.01%;
  bottom: 0.05%;
  left: 43.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ssobig_join_div2 {
  width: 272px;
  position: relative;
  height: 60px;
}
.ssobig_join_div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ssobig_join_div3 {
  position: relative;
  line-height: 120%;
  font-weight: 600;
  text-align: center;
}
.ssobig_join_div4 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
}
.ssobig_join_link {
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 60px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
}
.ssobig_join_parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.ssobig_join_div {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 100px 60px;
  box-sizing: border-box;
}
.ssobig_join_desktop {
  word-break: keep-all; /* 어절 단위로 줄바꿈 */
  white-space: normal; /* 텍스트가 여러 줄로 개행될 수 있도록 설정 */
  width: 100%;
  position: relative;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 44px;
  color: #fff;
  font-family: Pretendard;
}
